 h1{
    font-size: 28px; /* Rozmiar czcionki nagłówka */
    font-family: Arial; /* Rodzina czcionek używana w nagłówku */
    color: #FD98FB;
  }
    
body {
    font-family: Arial, Helvetica, sans-serif,  sans-serif; /* Rodzina czcionek */
    font-size: 18px; /* Rozmiar głównej czcionki w <p></p> tag  */
    background-color: #5988FF; /* Kolor tła strony internetowej */
    color: #ffffff; /* Kolor tła strony internetowej*/ 
}

h2 {
    color: #D6FF6B; /* Kolor nagłówka */
    font-size: 20px; /* Rozmiar czcionki nagłówka */
    font-family: Arial; /* Rodzina czcionek używana w nagłówku */
}